/* Whole Page */
body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
    background-image: url("pictures/Capture.PNG");
	background-size: auto;
	background-repeat: repeat;
}
/* End Whole Page */


/* Main Section of HTML */
.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
    padding: 0px 40px;
	box-sizing: border-box;
}


/* Site Navigation */
.list {
    background-color: #e5e9dc;
    overflow: auto; 
    position: relative;
    width: 100%;
    margin: auto;
    display: table;
    padding: 20px 0px;
    max-width: 940px;
	margin-left: auto;
	margin-right: auto;
    box-sizing: border-box;
}
.list a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px; 
}
.list a:hover {
    background-color: #ddd;
    color: black;
}
.list span {
    display: table-cell;
    text-align: center;
}
/* End Site Navigation */


/* The Header */
header {
    padding-top: 1px;
    color: #617140;
}
.bottom-text {
    padding-bottom: 10px;
}
.header-text {
    text-align: center;
}
/* End Header */

.content-area {
    margin-top: -10px #e5e9dc;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
    padding-bottom: 10px;
}
.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
    text-align: center;
}

    /* List of Study */
.study ol {
    color: #ccc;
    list-style-type: none;
    padding-right: 40px;
    }
.study li {
    font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    position: relative;
}
.study li p {
    font: 12px/1.5 Helvetica, sans-serif;
    color: #555;
}
/* End of List of Study */

.sidebar {
	width: 34%;
	float: left;
	background-color: #e5e9dc;
    color: #000000;
	padding: 20px 40px;
	box-sizing: border-box;
	font-size: 100%;
}
footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}
/* End Main Section of HTML */


/* Image and Banner Overlay */
.image-banner {
    position: relative;
    width: 100%;
}
.image-banner img {
    display: block;
    max-width: 100%;
    height: auto;
}
.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 25px;
    text-align: center;
}
/*End Image and Banner Overlay*/


/*Clearfix method: This ensures that the css code places borders on top and bottom of the text.*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
/* End of Clearfix Method */