/* Whole Page */
body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
    background-image: url("pictures/Capture.PNG");
	background-size: auto;
	background-repeat: repeat;
}
/* End Whole Page */


/* Site Navigation */
.list {
    background-color: #e5e9dc;
    overflow: auto; 
    position: relative;
    margin: auto;
    width: 50%;
}
.list a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
}
.list a:hover {
    background-color: #ddd;
    color: black;
}
.list a.active {
    background-color: #4CAF50;
    color: white;
}
/* End Site Navigation */


/* Main Section Of HTML */
.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding: 0px 40px;
	box-sizing: border-box;
}

/* The Header */
header {
    padding-top: 50px;
    color: #617140;
}
.bottom-text {
    padding-bottom: 10px;
}
.header-text {
    text-align: center;
}
/* End Header */

.content-area {
    margin-top: -10px #e5e9dc;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}
.main-area {
	width: 66%;
	float: left;
    padding-right: 40px;
	box-sizing: border-box;
}

footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}
/* End Main Section Of HTML */


/* Image and Banner Overlay*/
img {
    max-width: 100%;
    height: auto;
}
.image-container {
    float: right;
    width: relative;
    text-align: center;
    position: absolute;
    right: 250px;
    top: 230px
}
.image-banner {
    position: relative;
}
.image-banner img {
    display: block;
}
.banner-description {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 25px;
}
/*End Image and Banner Overlay*/


/*Clearfix method: This ensures that the css code places borders on top and bottom of the text.*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}